<!DOCTYPE html>
<html>
  <head>
    <title>BadmintonMatchingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <header class="header">
    <% if flash.present? %>
      <div class="flash">
        <% flash.each do |key, value| %>
          <div class="<%= key %>">
            <%= value %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="header_logos">
      <% if !current_page?(root_path) && user_signed_in? %>
        <%= link_to :back do %>
          <%= image_tag 'back.svg', class: 'header_back' %>
        <% end %>
      <% end %>
      <p class="header_pageTitle">
        <%= link_to 'Badminton Matching', root_path %>
      </p>
    </div>
    <% if user_signed_in? %>
      <div class="dropdown">
        <%= image_tag 'default-avatar.png', class: 'header_avatar dropbtn' %>
        <div class="dropdown-content">
          <%= link_to 'Profile', profile_path %>
          <%= link_to 'Edit Profile', edit_profile_path %>
          <%= link_to 'Logout', destroy_user_session_path %>
        </div>
      </div>
    <% end %>
  </header>
  <%= yield %>
</body>
</html>
